<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread][%logger{16}] - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>./log/akka.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread][%logger{16}] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="akka" level="DEBUG"/>
    <logger name="com.ryanair.hackathon.hotOffers" level="INFO"/>
    <logger name="com.ryanair.aws.dynamodb.client" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>